@font-face {
    font-family: "myharmonyos";
    src: url('../assets/font/HarmonyOS.woff2') format("woff2");
    font-display: swap;
}
html, textarea {
    font-family: myharmonyos,sans-serif, PingFang\ SC, Hiragino\ Sans\ GB, Microsoft\ YaHei, STHeiti, WenQuanYi\ Micro\ Hei, Helvetica, Arial, sans-serif !important;
}

html {
    background-color: #f6f6f6;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    /* max-width: 80ch; */
    /* padding: 1rem; */
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  input{
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 8px 11px;
    color: rgba(0,0,0,.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    background-color: #fff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all .2s;
    text-overflow: ellipsis;
  }
/* input{
    border: 1px solid #d9d9d9;
    border-inline-end: 1px;
  } */

  input:hover{
    border-color: #4096ff;
    border-inline-end-width: 1px;
  }

  input:focus{
    border-color: #4096ff;
    box-shadow: 0 0 0 2px rgba(5,145,255,.1);
    border-inline-end-width: 1px;
    outline: 0;
  }

  :global(.dark) input{
    border-inline-end-color: white;
  }


  /* nav styles */



/* .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }
   */
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 768px) {

    .hamburger {
        display: none;
      }
  
  }


  /* 滚动条样式 */
::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all .2s ease-in-out;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }