---
const platform = "github";
const author = "橙子";
import Social from "./Social.astro";
---

<footer
  class="flex gap-4 p-5 justify-center items-center flex-col shadow-2xl dark:bg-gray-800 transition-all dark:text-white"
>
  <Social />
  <div class="text-center dark:bg-gray-800">
    <p class="text-xs md:text-sm">© 2023-2024</p>
    <p class="text-xs md:text-sm">eatcz</p>
    <!-- <p class="text-xs">author:{author}</p> -->
  </div>
</footer>
