---
import { Icon } from "astro-icon";
---

<div class="hamburger dark:text-white">
  <a href="javascript:;">
    <Icon name="icon-park-outline:hamburger-button" width="30" height="30" />
  </a>
</div>
