---
import Logo from "./Logo.astro";
import Nav from "./Nav.astro";
import Hanmurger from "./Hanmurger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header
  class="header fixed w-full z-20 bg-[#f6f6f6] border-b border-b-neutral-200 dark:bg-gray-800 dark:border-b-neutral-600"
>
  <div
    class="max-w-5xl px-5 min-w-max flex justify-between mx-auto py-4 text-gray-800"
  >
    <Logo />
    <Hanmurger />
    <Nav />
    <ThemeIcon />
  </div>
</header>
