---
const navLists = [
  {
    id: 1,
  },
];
---

<nav
  class="nav-links md:flex md:bg-transparent bg-gray-900 hidden gap-5 justify-center ml-auto mr-4 dark:text-white"
>
  <a class="block text-center" href="/">首页</a>
  <a class="block text-center" href="/posts">文章</a>
  <a class="block text-center" href="/tags">分类</a>
  <a class="block text-center" href="/archive">归档</a>
  <a class="block text-center" href="/about">关于</a>
</nav>
