---
import Layout from "../layouts/Layout.astro";
// import Search from "./jsx/Search";
// 获取所有文章
const allPosts = await Astro.glob("../pages/posts/*.md");

const posts = allPosts.filter(
  (post) => !post.frontmatter.draft && post.frontmatter.slug
);
// console.log(allPosts);
---

<Layout title="搜索">
  <div class="search my-5">
    123
    <!-- <Search client:load searchList={posts} /> -->
  </div>
</Layout>
