---
import { Icon } from "astro-icon";
// const { platform, username } = Astro.props;
---

<div class="flex my-4 gap-3">
  <a
    class="hover:scale-125 transition-all"
    href="http://wpa.qq.com/msgrd?v=3&uin=1804211082&site=qq&menu=yes"
  >
    <Icon name="ant-design:qq-circle-filled" width="30" height="30" />
  </a>
  <a class="hover:scale-125 transition-all" href="https://github.com/eatcz">
    <Icon name="entypo-social:github-with-circle" width="30" height="30" />
  </a>
  <a class="hover:scale-125 transition-all" href="https://twitter.com/Eatcz0">
    <Icon name="ant-design:twitter-circle-filled" width="30" height="30" />
  </a>
</div>
