---
import { Icon } from "astro-icon";
// const { platform, username } = Astro.props;
---

<div class="flex my-4 gap-3">
  <a class="hover:scale-125 transition-all" href="/">
    <Icon name="ant-design:qq-circle-filled" width="30" height="30" />
  </a>
  <a class="hover:scale-125 transition-all" href="/">
    <Icon name="entypo-social:github-with-circle" width="30" height="30" />
  </a>
  <a class="hover:scale-125 transition-all" href="/">
    <Icon name="ant-design:twitter-circle-filled" width="30" height="30" />
  </a>
</div>
