---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BackDrop from "../components/Backdrop/index.astro";
import "../styles/global.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>eatcz</title>
  </head>
  <body class="relative dark:bg-gray-900">
    <Header />
    <main
      class="flex flex-col items-center px-5 min-h-screen pt-16 dark:bg-gray-900 dark:text-white transition-all"
    >
      <slot />
    </main>
    <Footer />

    <BackDrop />
  </body>
  <script>
    const backdrop = document.getElementById("backdrop");
    const menuShow = document.getElementById("mobile-menu");
    const menuClose = document.getElementById("mobile-menu-close");
    menuShow.addEventListener("click", () => {
      document.body.style.overflow = "hidden";
      backdrop.classList.remove("hide-menu");
      backdrop.classList.add("show-menu");
      menuShow.classList.add("hidden");
      menuClose.classList.remove("hidden");
      menuClose.classList.add("block");
    });

    menuClose.addEventListener("click", () => {
      backdrop.classList.remove("show-menu", "hidden");
      backdrop.classList.add("hide-menu");
      menuShow.classList.remove("hidden");
      menuClose.classList.add("hidden");
      document.body.style.overflow = "auto";
    });
  </script>

  <style>
    .hide-menu {
      transform: translateX(-100%);
    }
    .show-menu {
      transform: translateX(0%);
    }
  </style>
</html>
