---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
// console.log(frontmatter);
---

<Layout title={frontmatter.title}>
  <div class="details w-full h-full text-center dark:text-white">
    <header class="header">
      <div class="cover md:h-80">
        <img
          class="w-full h-full object-cover"
          src={frontmatter.image.url}
          alt=""
        />
      </div>
    </header>
    <main class="my-5">
      <header class="main-header flex flex-col">
        <h1 class="text-3xl">{frontmatter.title}</h1>
        <p class="flex-1 ml-auto">发布于:{frontmatter.pubDate.slice(0, 10)}</p>
      </header>
      <div class="content">
        <slot />
      </div>
    </main>
  </div>
</Layout>
