---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
// console.log(frontmatter);
const allPosts = await Astro.glob("../pages/posts/*.md");
// console.log(allPosts);
// console.log(Astro.props);

const { minutesRead } = Astro.props.frontmatter;
---

<Layout title={frontmatter.title}>
  <div class="details max-w-3xl h-full text-center dark:text-white">
    <header class="header">
      <div class="cover md:h-80 dark:opacity-70">
        <img
          class="w-full h-full object-cover rounded-md"
          src={frontmatter.image.url}
          alt=""
        />
      </div>
    </header>
    <main class="my-5">
      <header class="main-header flex flex-col">
        <h1 class="text-3xl">{frontmatter.title}</h1>

        <div class="flex-1 ml-auto my-5 text-right">
          <p class="start_time">
            发布于:{frontmatter.pubDate.slice(0, 10)}
          </p>
          <p class="read_time">{minutesRead}</p>
        </div>
      </header>
      <hr />
      <div class="content my-4">
        <slot />
      </div>
    </main>
  </div>
</Layout>
